@page "/detail"
@page "/detail/{id}"
@*@page "/detail/{id:int}"*@

<h3>Detail for @Id</h3>

@code {
    [Parameter]
    public string Id { get; set; }

    protected override void OnInitialized()
    {
        Id = Id ?? "0";
    }
}
