@page "/fetchdata"
@inject HttpClient Http

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (forecasts == null)
{
    <LoadingSpinner></LoadingSpinner>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private WeatherForecast[] forecasts;

    /* sayfa yüklendiði anda çalýþacak metodumuz 'OnInitializedAsync', böyle bir hazýr
     * event'imiz var. Dikkat edersek biz bunu 'override' edebiliyoruz. */
    protected override async Task OnInitializedAsync()
    {
        /* bu bizim herhangi bir api'yede istek yapabildiðimizi gösteriyor. */
        forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("sample-data/weather.json");
    }

    // Bizim için bir object(nesne) class'ýdýr.
    public class WeatherForecast
    {
        public DateTime Date { get; set; }

        public int TemperatureC { get; set; }

        public string Summary { get; set; }
        // C# 6 ile gelmiþ bir özellik bu özelliði direkt buradan okuyoruz.
        public int TemperatureF => 32 + (int)(TemperatureC / 0.5556);
    }
}
