@page "/multirpleParameter"

<h3>MultipleParameter</h3>

<input class="form-control" id="parameterwithseperatevalues" 
       maxlength="@MaxLength" 
       placeholder="@Placeholder" 
       required="@Required" 
       size="@Size" /> <br />
<input class="form-control" id="parameterwithsictionary" 
       @attributes="InputAttributes"/>


@code {
    [Parameter]
    public int MaxLength { get; set; } = 10;
    [Parameter]
    public string Placeholder { get; set; } = "First Name";
    [Parameter]
    public string Required { get; set; } = "required";
    [Parameter]
    public int Size { get; set; } = 50;

    public Dictionary<string, object> InputAttributes { get; set; } = new Dictionary<string, object>
    {
        {"maxlength", 10},
        {"placeholder", "Last Name"},
        {"required", "required"},
        {"size", 10}
    };

}
