@page "/posts"
@inject HttpClient Http
@inject IApiService Api
@using BlazorLearn.Models;
@using BlazorLearn.Services

<h3>Posts</h3>

@if (posts == null)
{
    <LoadingSpinner></LoadingSpinner>
}
else
{
    <div class="accordion" id="accordionExample">
        @foreach (var post in posts)
        {
            <div class="my-3 p-3 bg-white rounded shadow-sm">
                <h6 class="border-bottom border-gray pb-2 mb-0">@post.title - ( @post.id )</h6>
                <div class="media text-muted pt-3">
                    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                        @post.body
                    </p>
                </div>
            </div>
        }
    </div>
}


@code {

    PostsItem[] posts; /* nesne sınıfı */

    protected override async Task OnInitializedAsync()
    {

        /* JsonPlacerHolderApi jsonPlacerHolder = new JsonPlacerHolderApi(Http); 
         * "operasyon sınıfı", bu sınıfları (new) anahtarı ile kullanıyorsak buna bağımlılığımız olduğu anlamına gelir. 
         * bu bağımlılığı minimize etmek için "dependecy injection" design pattern'i kullanırız. 
         *** Operasyon sınıfların çıplak class olarak kalmamalıdır. 
         */
        posts = await Api.GetPosts();
    }


}
