@page "/posts"
@inject HttpClient Http

<h3>Posts</h3>

@if (posts == null)
{
    <LoadingSpinner></LoadingSpinner>
}
else
{
    <div class="accordion" id="accordionExample">
        @foreach (var post in posts)
        {
            <div class="my-3 p-3 bg-white rounded shadow-sm">
                <h6 class="border-bottom border-gray pb-2 mb-0">@post.title - ( @post.id )</h6>
                <div class="media text-muted pt-3">
                    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                        @post.body
                    </p>
                </div>
            </div>
        }
    </div>
}


@code {

    PostsItem[] posts;

    protected override async Task OnInitializedAsync()
    {
        posts = await Http.GetFromJsonAsync<PostsItem[]>("https://jsonplaceholder.typicode.com/posts");
        Console.WriteLine(posts);
    }

    public class PostsItem
    {
        public int userId { get; set; }
        public int id { get; set; }
        public string title { get; set; }
        public string body { get; set; }
    }
}
