@page "/auth/redirecttologin"

@inject NavigationManager navigationManager

<h3>RedirectToLogin</h3>

@code {

    protected override void OnInitialized()
    {
        navigationManager.NavigateTo("/auth/login");
    }
}
