@inject AuthenticationStateProvider authenticationStateProvider
@inject NavigationManager navigationManager

<AuthorizeView>
    <span>Welcome @context.User.FindFirst("FirstName").Value </span> &nbsp; <RadzenButton Text="LogOut" Click="LogOut" class="mr2"/>
</AuthorizeView>

@code {
    async Task LogOut()
    {
        var localStateProvider = (LocalAuthenticationStateProvider)authenticationStateProvider;
        await localStateProvider.LogOutAsync();
        navigationManager.NavigateTo("/auth/login");
    }
}
