<!-- FUSE Splash Screen -->
<fuse-splash-screen id="fuse-splash-screen">

    <div class="center">

        <div class="logo">
            <img width="128" src="http://www.sentez.com/wp-content/uploads/slogowhite.png">
        </div>

        <!-- Material Design Spinner -->
        <div class="spinner-wrapper">
            <div class="spinner">
                <div class="inner">
                    <div class="gap"></div>
                    <div class="left">
                        <div class="half-circle"></div>
                    </div>
                    <div class="right">
                        <div class="half-circle"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- / Material Design Spinner -->

    </div>

</fuse-splash-screen>
<!-- / FUSE Splash Screen -->