<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BlazorLearn</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>
        <!-- Yeni eklediğimiz book sayfası için link. href değerine göre Book.razor sayfasına yönlendirileceğiz -->
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="bookList">
                <span class="oi oi-list-rich" aria-hidden="true"></span> BookList
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="population">
                <span class="oi oi-grid-two-up" aria-hidden="true"></span> Dünya Nüfusu
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/todo">
                <span class="oi oi-list" aria-hidden="true"></span> ToDo
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/posts">
                <span class="oi oi-list" aria-hidden="true"></span> PostsData List
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/student">
                <span class="oi oi-list" aria-hidden="true"></span> Student List
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/multirpleParameter">
                <span class="oi oi-list" aria-hidden="true"></span> MultipleParameter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/binding">
                <span class="oi oi-list" aria-hidden="true"></span> Binding
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
